/*------- GLOBAL STYLING-------*/
body{
    color: black;
        font-style: normal;
}

section{
    width: 80%;
    max-width: 800px;
    margin: auto;
}

header{
    width: 80%;
    max-width: 800px;
    margin: auto;
    color: black;
}


/*-------TYPOGRAPHY------*/


h1, h2 {
    font-family:'Open Sans Condensed', sans-serif; 
}

/*ESTABLISH YOUR OWN TYPOGRAPHIC HIERARCHY WHICH SHOULD BE BASED ON YOUR FONT CHOICES-------*/

h1 {font-size: 5em; margin-bottom: 0.5m}
h2 {font-size: 2.75; margin: 1em 0; color: aqua}

p {font-size: 1.25;
    line-height: 1.5;
    margin-bottom: 1em;
    font-weight:  200;
    }

header h1 {
    margin: 1em 0;
    font-size: 5.25em;
    font-weight: bold;
    line-height: 1.2;
}


/*----------LINKS---------*/

a {
    color: aqua;
    text-decoration: none;
}

a:hover{
    color: wheat;
    border-bottom: 1px dotted;
}


/*-------NAVIGATION-----------*/

nav {
    top: 0;
    left: 0;
    margin: 0%;
    width: 90%;
    background-color: blue;
    padding: 1em 0;
    font-size: 0.85em
}

nav ul {
    padding-right: 15vw;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 20px;
    background: none;
}

nav a:link {
    color: coral;
}

nav a:visited {
    color: coral;
}

nav a:hover {
    border-bottom: none;
    color: black;
    transition: all 0.3s ease-in-out;
}

.logo {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    text-align: left;
    text-transform: none;
    padding-right: 30vw;
    
}

/*------IMAGES---------*/
img {
    display: block;
    margin: auto;
    max-width: 100%;
    
}

/*------PORTFOLIO---------*/
.portfolio {
    max-width: 800px;
    margin: auto;
    padding: 40px 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr);
        
}


